* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primaria)
}

body {
        background-color: var(--bg-color);
    }

    p {
        font-size: 20px;
        color: var(--p-color);
        font-weight: bold
    }

::-webkit-scrollbar {
    width: 10px; 
    background-color: var(--divs-color); 
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--divs-color); 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background-color: var(--p-color); 
    border-radius: 5px; 
  }

  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --bg-color:  #AA8B56;
    --p-color:  #F0EBCE;
    --titles-color: #F0EBCE;
    --divs-color: #395144;
    --font-primaria: 'Raleway', sans-serif;
}



