#pagina-principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 20px;
    padding: 32px;
    letter-spacing: 3px;
}

.left {
    width: 415px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boas-vindas {
    height: 80px;
    border-radius: 10px;
    background: var(--divs-color);
}

.boas-vindas h1 {
    color: var(--titles-color);
    text-align: center;
    line-height: 50px;
}

.salvos {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    background: var(--divs-color);
}

.salvos h2 {
    color: var(--titles-color);
    text-align: center;
    padding-bottom: 10px;
}

.versiculos-salvos {
    height: 480px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: auto;
}

.versiculo-salvo {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.versiculos-salvos button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background: none;
}

i.fa-solid.fa-trash {
    font-size: 24px;
    color: var(--p-color);
}

.right {
    width: 950px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.versiculo-do-dia {
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: var(--divs-color);
}

.versiculo-do-dia h1 {
    color: var(--titles-color);
}

.buscar-palavra {
    height: auto;
    border-radius: 10px;
    padding: 10px;
    background: var(--divs-color);
}

.input-lupa {
    display: flex;
    justify-content: center;
    gap: 20px;
}

input#palavra {
    width: 760px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    padding: 2px;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: var(--p-color);
}

input#palavra::placeholder {
    letter-spacing: 4px;
    color: var(--divs-color);
}

input[type="text"] {
    color: var(--divs-color);
}

button#lupa {
    width: 70px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.fa-magnifying-glass {
    font-size: 24px;
    color: var(--p-color);
}

.buscar-palavra h1 {
    color: var(--titles-color);
    text-align: center;
    padding: 10px;
}

.resultado-da-busca {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 320px;
    overflow: auto;
}

.result {
    display: flex;
    gap: 20px;
}

.highlight {
    background-color: var(--bg-color);
    font-weight: bold;
  }

p.paragrafo {
    width: 760px;
    height: 100%;
}

button.salvar {
    width: 70px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

 .fa-bookmark {
    font-size: 24px;
    color: var(--p-color);
}

.notificacao {
    width: 300px;
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--divs-color);
    border-radius: 10px;
    font-size: 24px;
    color: var(--p-color);
    padding: 10px;
    text-align: center;
  }

.loading-animation {
    display: block;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 4px solid var(--divs-color);
    border-top: 4px solid var(--p-color);
    animation: spin 2s linear infinite;
}

.loading-animation.active {
    display: block;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (min-width: 200px) and (max-width: 480px) {

    #pagina-principal {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .boas-vindas {
        height: 50px;
    }
    
    .salvos {
        height: auto;
    }

    .versiculos-salvos {
        height: 550px;
    }

    .versiculo-do-dia {
        width: 100%;
        height: auto;
    }

    .buscar-palavra {
        height: auto;
    }

    .resultado-da-busca {
        height: 330px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    #pagina-principal {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .boas-vindas {
        height: 50px;
    }

    .salvos {
        height: auto;
    }

    .versiculos-salvos {
        height: 500px;
        overflow: auto;
    }

    .versiculo-salvo p {
        width: 100%;
    }

    .resultado-da-busca {
        height: 500px;
    }

}

@media (min-width: 769px) and (max-width: 1023px) {

    #pagina-principal {
        width: 100%;
        height: 100%;
        display: flex;
       flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .boas-vindas {
        height: 50px;
    }

    .salvos {
        height: auto;
    }

    .versiculo-salvo p {
        width: 100%;
    }

    .resultado-da-busca {
        height: 500px;
    }

}

@media (min-width: 1023px) {

    #pagina-principal {
        height: 100%;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .salvos {
        height: auto;
    }

    .salvos p {
        width: 100%;
    }

    .salvos h2 {
        padding-bottom: 30px;
    }

    .versiculos-salvos {
        height: 400px;
    }

    .buscar-palavra {
        height: 600px;
    }

    .resultado-da-busca {
        width: 100%;
        height: 430px;
    }

    .resultado-da-busca p {
        width: 100%;
    }

    .result {
        width: 100%;
    }

}